<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:form action="create" name="newComment" object="{newComment}" arguments="{instruction: 'create'}">

        <f:form.textfield property="control" class="form-control" style="display: none;" value="{control}" />
        <f:form.textfield property="website" class="form-control" style="display: none;" />

        <div class="form-group">
            <label for="textarea">
                <f:translate key="tx_simplediscussion_domain_model_comment.comment" />
                <f:translate key="tx_simplediscussion_domain_model_comment.required_char" />
            </label>
            <f:form.textarea property="comment" cols="40" rows="5" required="1" class="form-control" />
        </div>

        <div class="form-group">
            <label for="name">
                <f:translate key="tx_simplediscussion_domain_model_comment.name" />
            </label>
            <div class="input-group">
                <f:form.textfield property="name" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>
                <f:translate key="tx_simplediscussion_domain_model_comment.email" />
            </label>
            <div class="input-group">
                <f:form.textfield type="email" property="email" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <f:form.submit value="{f:translate(key: 'tx_simplediscussion_domain_model_comment.submit')}" class="btn btn-primary" />
        </div>

        <small><f:translate key="tx_simplediscussion_domain_model_comment.required_char" /> <f:translate key="tx_simplediscussion_domain_model_comment.required_notice" /></small>

    </f:form>

</html>
